$my_bgColor: #1d262d;
$my_borderColor:rgba(255, 219, 0, 0.6);
$my_fontColor: rgba(255, 255, 255, 0.5); 
$my_fontColor2: rgba(255, 255, 255, 0.7); 
$my_bgColor2: rgba(0, 0, 0, 0.5);
$my_font: 'Lato', sans-serif;
$breakpoints: ("movil": 360px, "tablet": 768px, "desktop": 1200px, "big-desktop": 1920px)
