footer {
    grid-area: footer;
    @include flexCenter(column, 15px);
    align-items: stretch;
    background-image: linear-gradient(black, #1d262d);
    margin-top: 120px;
    padding-bottom: 60px;


    .footer__main {
        @include flexCenter(row);
        align-items: stretch;
        justify-content: space-evenly;

        @include for-size(movil) {
            @include flexCenter(column, 40px);
            flex-direction: column-reverse;
            justify-content: stretch;
        }

        .footer__menuPrincipal {
            @include flexCenter(column, 28px);

            @include for-size(movil) {
                gap: 15px;
            }

            .footer__titulo {
                font-size: 2.5rem;
                color: white;
                margin-top: 25px;
                text-align: center;

                @include for-size(movil) {
                    @include reset;
                }
            }

            .footer__navegacion {
                @include flexCenter(column, 3px);

                @include for-size(movil) {
                    gap: 8px;
                }

                a {
                    @include paddingXX(15px);
                    text-decoration: none;
                    font-size: 2.0rem;
                }
            }
        }

        .footer__redesSociales {
            @include flexCenter(column);

            .footer__titulo {
                font-size: 2.5rem;
                color: white;
                margin-top: 25px;
                text-align: center;

                @include for-size(movil) {
                    @include reset;
                }
            }

            .redesSociales__icono {
                @include flexCenter(row);
                margin-top: 50px;

                @include for-size(movil) {
                    margin-top: 20px;
                }

                a {
                    @include paddingXX(15px);
                    text-decoration: none;
                    font-size: 2.0rem;
                    padding-top: 2px;

                    @include for-size(movil) {
                        @include reset;
                        @include marginXX(15px);
                    }
                }
            }
        }

        .footer__contacto {
            @include flexCenter(column, 25px);

            .footer__titulo {
                font-size: 2.5rem;
                color: white;
                margin-top: 25px;
                text-align: center;
            }

            .footer__ContactoItmes {
                @include flexCenter(column, 15px);
                align-items: stretch;

                a,
                div {
                    font-size: 2rem;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .footer__separador {
        width: 50%;
        height: 6px;
        align-self: center;
        background-color: white;
        border-radius: 20px;

        @include for-size(movil) {
            @include reset;
            margin-top: 20px;
        }
    }

    .footer__powered {
        text-align: center;
        color: white;
        font-size: 1.8rem;
    }
}