.contenedor__header {
    grid-area: header;
    @include flexCenter(row);
    justify-content: space-between;
    min-height: 100px;

    @include for-size(movil) {
        @include flexCenter(column, 10px);
        justify-content: stretch;
        margin-top: 20px;
    }

    header {
        @include flexCenter(row);
        width: 400px;
        margin-top: 2%;
        margin-left: 2%;

        @include for-size(movil) {
            @include flexCenter(column, 10px);
            @include reset;
            width: auto;
        }

        h2 {
            margin-left: 20px;
            color: $my_fontColor;
            font-size: 2.6rem;
            position: relative;

            span {
                position: absolute;
                right: 0;
                width: 0;
                background-color: $my_bgColor;
                animation: maquina 1.8s linear;
            }

        }
    }

    nav {
        margin-right: 5%;
        margin-top: 2%;

        @include for-size(movil) {
            @include flexCenter(column, 12px);
            @include reset;
            @include paddingYY(10px);
        }

        a {
            @include paddingXX(15px);
            text-align: center;
            text-decoration: none;
            font-size: 2.5rem;


        }
    }

}

@keyframes maquina {
    from {
        width: 100%;
    }

}