a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;

    &:visited {
        @extend a
    }

    &:hover {
        color: rgba(0, 139, 139, 0.3);
    }
}


#currentLink {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 139, 139, 0.3);

    @include for-size(movil) {
        padding-left: 80px;
        padding-right: 80px;
        background-color: rgba(0, 139, 139, 0.3);

    }
}


#currentLink__footer {
    background-color: rgba(0, 139, 139, 0.3);
    padding-left: 60px;
    padding-right: 60px;
}