main {
    grid-area: servicios;
    @include flexCenter(column);


    .main__parallax {
        @include parallax();
        @include marginYY(50px);
        width: 100%;
        height: 400px;
        position: relative;

        h1 {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include paddingXX(40px);
            @include paddingYY(8px);
            background-color: $my_bgColor2;
            border-radius: 10px;
            color: $my_fontColor2;
            font-size: 2.2rem;
            @include for-size(movil){
                width: 60%;
            }
        }
    }

    .servicios__titulo {
        position: relative;
        top: 15px;
        padding: 7px;
        color: $my_fontColor2;
        background-color: black;
        border-radius: 15px;
        border: solid;
        border-color: #ffdb00;
        border-width: 1px;
        font-size: 1.2rem;
    }

    .main__servicios {
        width: 95%;
        @include flexCenter(row);
        justify-content: space-around;
        border-radius: 15px;
        border: solid rgba(255, 219, 0, 0.2);


        article {
            @include flexCenter(column);
            width: 350px;
            padding: 20px;
            margin-top: 10px;

            img {
                width: 100%;
                height: 30vh;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            h3 {
                margin-top: 10px;
                text-align: center;
                color: rgba(255, 219, 0, 0.6);
                font-size: 1.8rem;
                @include for-size(movil){
                    font-size: 2.1rem;
                }
            }

            h4 {
                text-align: justify;
                margin-top: 10px;
                height: 220px;
                color: rgba(255, 250, 250, 0.7);
                font-size: 1.5rem;
                line-height: 1.5;
                @include for-size(movil){
                    height: 180px;
                    font-size: 2rem ;
                }
            }

            a {
                text-align: center;
                text-decoration: none;
                font-size: 1.5rem;
                margin-top: 29px;
                padding: 7px;
                border: solid $my_borderColor;
                border-radius: 15px;
                background-color: rgba(255, 219, 0, 0.1);
            }

        }

        @for $i from 1 through 4 {
            .serv#{$i} {
                grid-area: serv#{$i};
            }
        }
    }

    .imagenUno {

        background-image: url("../Images/automation.jpg");
    }

    .imagenDos {
        background-image: url("../Images/claves-incorporar-innovacion-emp.jpg");
    }
}

.innovacion {
    grid-area: innovacion;
    @include flexCenter(row);
    justify-content: space-evenly;
    margin: auto;
    width: 70%;

    article {
        @include flexCenter(column, 10px);
        width: 200px;
        margin-top: 20px;

        img {
            width: 60%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        h3 {
            margin-top: 10px;
            text-align: center;
            color: $my_borderColor;
            font-size: 1.7rem;
            @include for-size(movil){
                font-size: 2.1rem;
            }
        }

        p {
            text-align: justify;
            margin-top: 10px;
            height: 120px;
            color: $my_fontColor2;
            font-size: 1.5rem;
            line-height: 1.5;
            @include for-size(movil){
                font-size: 2rem;
            }
        }
    }

    @for $i from 1 through 4 {
        .innova#{$i} {
            grid-area: innova#{$i};
        }
    }
}

