.servicios__imagen {
    width: 75%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    @include for-size(movil){
        width: 82%;
    }

}

.servicios__grupo {
    h2 {
        width: 90%;
        text-align: center;
        color: $my_borderColor;
        font-size: 1.9rem;
        margin: auto;
        margin-bottom: 15px;
        @include for-size(movil){
            font-size: 2.2rem;
        }
    }

    p {
        font-size: 2rem;
        line-height: 1.5;
        color: white;
        text-align: justify;
        width: 90%;
        margin: auto;
        @include for-size(movil){
            font-size: 2rem;
        }
    }

}

@for $i from 1 through 4 {
    .img--#{$i} {
        grid-area: img_#{$i};
    }
    .grupo--#{$i} {
        grid-area: text_#{$i};
    }
}


