* {
    @include reset;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include for-size(tablet) {
        font-size: calc(0.85 * 62.5%);
    }

    @include for-size(movil) {
        font-size: calc(0.7 * 62.5%);
    }

}